requests
pandas
bs4
meteostat
playwright
lxml
certifi
python-espncricinfo
duckdb
duckdb-engine
sqlalchemy
openai==0.28
wikipedia
chromadb 
llama-index 
llama-index-vector-stores-chroma 
llama-index-embeddings-openai
langchain
langchain-experimental
langchain-community
ollama
langchain_groq
langchain-groq
langgraph
duckduckgo_search
ddgs